.form__submit-button {
  border-radius: 2px;
  width: 100%;
  min-height: 46px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.form__submit-button:hover {
  opacity: .8;
}

@media (min-width: 767px) {
  .form__submit-button {
    font-size: 18px;
    line-height: 22px;
    min-height: 50px;
  }
}
