.popup__close-button {
  color: white;
  position: absolute;
  right: 0;
  top: -36px;
}

.popup__close-button:hover {
  opacity: .6;
}

.popup__close-button::before {
  content: url(../../../images/form-close-icon-mobile.svg);
  display: block;
  font-size: 0;

}

@media (min-width: 767px) {
  .popup__close-button {
    right: -40px;
    top: -40px;
  }

  .popup__close-button::before {
    content: url(../../../images/form-close-icon-desk.svg);
  }
}
