.button_type_submit {
  border-radius: 2px;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
