.button_type_add {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  background-color: black;
}

.button_type_add:hover {
  opacity: .6;
}

.button_type_add::before {
  content: url(../../../images/button-plus-icon-mobile.svg);
  display: block;
  font-size: 0;
}

@media (min-width: 767px) {
  .button_type_add {
    max-width: 150px;
    justify-content: space-between;
  }

  .button_type_add::before {
    content: url(../../../images/button-plus-icon-desk.svg);
    display: block;
    font-size: 0;
  }
}
