.form__set {
  margin: 75px 0 45px;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 38px; /*был 30px*/
}

@media (min-width: 767px) {
  .form__set {
    margin: 48px 0 48px;
  }
}
