.content {
  box-sizing: border-box;
  padding: 0 19px;
}


@media (min-width: 1024px) {
  .content {
    padding: 0 200px;
  }
}

/*
@media (min-width: 1024px) {
  .content {
    gap: 92px;
  }
}

@media (min-width: 1280px) {
  .content {
    padding-top: 56px;
  }
}
