.card__bin-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__bin-icon:hover {
  opacity: .5;
}

.card__bin-icon:after {
  content: url(../../../images/bin-icon.svg);
  display: block;
  font-size: 0;
}
