.profile__user-job {
  margin: 6px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media (min-width: 767px) {
  .profile__user-job {
    font-size: 18px;
    line-height: 22px;
  }
}
